<h1> Add a new item </h1>
<form action="/new_item" method="post">
  <div>
    <label>Link URL</label>
    <input type="text" name="url_link"></input>
  </div>
  <div>
    <label>Link Description</label>
    <input type="text" name="url_description"></input>
  </div>
  <div>
    <label>Thumbnail URL</label>
    <input type="text" name="thumbnail_url_link"></input>
  </div>
  <button>Create item
  </button>
</form>
