<h1> Add a new item </h1>
<form action="/new_item" method="post">
  <div>
    <label for="url">Link URL</label>
    <input id="url" type="text" name="url_link" placeholder="Enter a URL..."></input>
  </div>
  <div>
    <label for="description">Link Description</label>
    <input id="description"  type="text" name="url_description" placeholder="Enter a link description..."></input>
  </div>
  <div>
    <label for="thumb">Thumbnail URL</label>
    <input id="thumb" type="text" name="thumbnail_url_link" placeholder="Enter a thumbnail URL..."></input>
  </div>
  <button>Create item
  </button>
</form>
